@model app.AppSettings
@using app
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@addTagHelper "*, Microsoft.AspNetCore.SpaServices"

<!DOCTYPE html>
<html>
    <head>
        @RenderSection("baseHref", required: false)

        <title>NG starter</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script>

          var injectedAppSettings = {

          };

        </script>

        <environment names="Development">
           <script src="~/vendor.js"
                   asp-append-version="true"></script>
        </environment>

    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
